# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log
*.pot
*.mo
*.sqlite3
*.db
*.sqlite
*.pkl
*.h5
*.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.tox/
.coverage
coverage.*
.cache
.pyre/
.pytype/
.envrc
.venv/
venv/
ENV/
env/
.idea/
*.bak
*.swp
*.swo
*.tmp